.q5-canvas-fullscreen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 100;
  overflow: hidden;
}

.q5-canvas {
  position: relative;
}

.q5-canvas canvas,
.q5-canvas-fullscreen canvas {
  display: block;
}

.q5-canvas-fullscreen .q5-canvas-overlay,
.q5-canvas .q5-canvas-overlay {
  position: absolute;
  inset: 0;
  z-index: 101;
  pointer-events: none;
}

.q5-canvas-fullscreen .q5-canvas-overlay *,
.q5-canvas .q5-canvas-overlay * {
  pointer-events: initial;
}
